/Mvc-VD/obj/Debug/Mvc-UI.csproj.AssemblyReference.cache
/Mvc-VD/obj/Debug/Mvc-UI.csproj.CopyComplete
/Mvc-VD/bin/Antlr3.Runtime.dll
/Mvc-VD/bin/App_GlobalResources/Global.Designer.cs
/Mvc-VD/bin/App_GlobalResources/Global.resx
/Mvc-VD/bin/App_GlobalResources/Global.vi.designer.cs
/Mvc-VD/bin/App_GlobalResources/Global.vi.resx
/Mvc-VD/bin/AutoMapper.dll
/Mvc-VD/bin/AutoMapper.xml
/Mvc-VD/bin/Autofac.Integration.Mvc.dll
/Mvc-VD/bin/Autofac.Integration.Mvc.xml
/Mvc-VD/bin/Autofac.dll
/Mvc-VD/bin/Autofac.pdb
/Mvc-VD/bin/Autofac.xml
/Mvc-VD/bin/BouncyCastle.Crypto.dll
/Mvc-VD/bin/ClosedXML.dll
/Mvc-VD/bin/ClosedXML.pdb
/Mvc-VD/bin/ClosedXML.xml
/Mvc-VD/bin/Dapper.Contrib.dll
/Mvc-VD/bin/Dapper.Contrib.xml
/Mvc-VD/bin/Dapper.dll
/Mvc-VD/bin/Dapper.xml
/Mvc-VD/bin/DotNetOpenAuth.AspNet.dll
/Mvc-VD/bin/DotNetOpenAuth.AspNet.xml
/Mvc-VD/bin/DotNetOpenAuth.Core.dll
/Mvc-VD/bin/DotNetOpenAuth.Core.xml
/Mvc-VD/bin/DotNetOpenAuth.OAuth.Consumer.dll
/Mvc-VD/bin/DotNetOpenAuth.OAuth.Consumer.xml
/Mvc-VD/bin/DotNetOpenAuth.OAuth.dll
/Mvc-VD/bin/DotNetOpenAuth.OAuth.xml
/Mvc-VD/bin/DotNetOpenAuth.OpenId.RelyingParty.dll
/Mvc-VD/bin/DotNetOpenAuth.OpenId.RelyingParty.xml
/Mvc-VD/bin/DotNetOpenAuth.OpenId.dll
/Mvc-VD/bin/DotNetOpenAuth.OpenId.xml
/Mvc-VD/bin/EntityFramework.SqlServer.dll
/Mvc-VD/bin/EntityFramework.SqlServer.xml
/Mvc-VD/bin/EntityFramework.dll
/Mvc-VD/bin/EntityFramework.xml
/Mvc-VD/bin/ExcelNumberFormat.dll
/Mvc-VD/bin/ExcelNumberFormat.xml
/Mvc-VD/bin/Google.Protobuf.dll
/Mvc-VD/bin/Google.Protobuf.pdb
/Mvc-VD/bin/Google.Protobuf.xml
/Mvc-VD/bin/K4os.Compression.LZ4.Streams.dll
/Mvc-VD/bin/K4os.Compression.LZ4.Streams.xml
/Mvc-VD/bin/K4os.Compression.LZ4.dll
/Mvc-VD/bin/K4os.Compression.LZ4.xml
/Mvc-VD/bin/K4os.Hash.xxHash.dll
/Mvc-VD/bin/K4os.Hash.xxHash.xml
/Mvc-VD/bin/Microsoft.AspNet.SignalR.Client.dll
/Mvc-VD/bin/Microsoft.AspNet.SignalR.Client.pdb
/Mvc-VD/bin/Microsoft.AspNet.SignalR.Client.xml
/Mvc-VD/bin/Microsoft.AspNet.SignalR.Core.dll
/Mvc-VD/bin/Microsoft.AspNet.SignalR.Core.pdb
/Mvc-VD/bin/Microsoft.AspNet.SignalR.Core.xml
/Mvc-VD/bin/Microsoft.AspNet.SignalR.SystemWeb.dll
/Mvc-VD/bin/Microsoft.AspNet.SignalR.SystemWeb.pdb
/Mvc-VD/bin/Microsoft.AspNet.SignalR.SystemWeb.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Authentication.Abstractions.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Authentication.Abstractions.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Authentication.Core.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Authentication.Core.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Authorization.Policy.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Authorization.Policy.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Authorization.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Authorization.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Hosting.Abstractions.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Hosting.Abstractions.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Hosting.Server.Abstractions.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Http.Abstractions.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Http.Abstractions.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Http.Extensions.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Http.Extensions.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Http.Features.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Http.Features.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Http.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Http.xml
/Mvc-VD/bin/Microsoft.AspNetCore.JsonPatch.dll
/Mvc-VD/bin/Microsoft.AspNetCore.JsonPatch.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Mvc.Abstractions.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Mvc.Abstractions.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Mvc.Core.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Mvc.Core.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Mvc.Formatters.Json.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Mvc.Formatters.Json.xml
/Mvc-VD/bin/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
/Mvc-VD/bin/Microsoft.AspNetCore.ResponseCaching.Abstractions.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Routing.Abstractions.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Routing.Abstractions.xml
/Mvc-VD/bin/Microsoft.AspNetCore.Routing.dll
/Mvc-VD/bin/Microsoft.AspNetCore.Routing.xml
/Mvc-VD/bin/Microsoft.AspNetCore.WebUtilities.dll
/Mvc-VD/bin/Microsoft.AspNetCore.WebUtilities.xml
/Mvc-VD/bin/Microsoft.Data.SqlClient.SNI.x64.dll
/Mvc-VD/bin/Microsoft.Data.SqlClient.SNI.x64.pdb
/Mvc-VD/bin/Microsoft.Data.SqlClient.SNI.x86.dll
/Mvc-VD/bin/Microsoft.Data.SqlClient.SNI.x86.pdb
/Mvc-VD/bin/Microsoft.DotNet.PlatformAbstractions.dll
/Mvc-VD/bin/Microsoft.Extensions.Configuration.Abstractions.dll
/Mvc-VD/bin/Microsoft.Extensions.Configuration.Abstractions.xml
/Mvc-VD/bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Mvc-VD/bin/Microsoft.Extensions.DependencyInjection.Abstractions.xml
/Mvc-VD/bin/Microsoft.Extensions.DependencyInjection.dll
/Mvc-VD/bin/Microsoft.Extensions.DependencyInjection.xml
/Mvc-VD/bin/Microsoft.Extensions.DependencyModel.dll
/Mvc-VD/bin/Microsoft.Extensions.FileProviders.Abstractions.dll
/Mvc-VD/bin/Microsoft.Extensions.FileProviders.Abstractions.xml
/Mvc-VD/bin/Microsoft.Extensions.Hosting.Abstractions.dll
/Mvc-VD/bin/Microsoft.Extensions.Hosting.Abstractions.xml
/Mvc-VD/bin/Microsoft.Extensions.Logging.Abstractions.dll
/Mvc-VD/bin/Microsoft.Extensions.Logging.Abstractions.xml
/Mvc-VD/bin/Microsoft.Extensions.ObjectPool.dll
/Mvc-VD/bin/Microsoft.Extensions.ObjectPool.xml
/Mvc-VD/bin/Microsoft.Extensions.Options.dll
/Mvc-VD/bin/Microsoft.Extensions.Options.xml
/Mvc-VD/bin/Microsoft.Extensions.Primitives.dll
/Mvc-VD/bin/Microsoft.Extensions.Primitives.xml
/Mvc-VD/bin/Microsoft.Identity.Client.dll
/Mvc-VD/bin/Microsoft.Identity.Client.xml
/Mvc-VD/bin/Microsoft.IdentityModel.JsonWebTokens.dll
/Mvc-VD/bin/Microsoft.IdentityModel.JsonWebTokens.xml
/Mvc-VD/bin/Microsoft.IdentityModel.Logging.dll
/Mvc-VD/bin/Microsoft.IdentityModel.Logging.xml
/Mvc-VD/bin/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Mvc-VD/bin/Microsoft.IdentityModel.Protocols.OpenIdConnect.xml
/Mvc-VD/bin/Microsoft.IdentityModel.Protocols.dll
/Mvc-VD/bin/Microsoft.IdentityModel.Protocols.xml
/Mvc-VD/bin/Microsoft.IdentityModel.Tokens.dll
/Mvc-VD/bin/Microsoft.IdentityModel.Tokens.xml
/Mvc-VD/bin/Microsoft.Net.Http.Headers.dll
/Mvc-VD/bin/Microsoft.Net.Http.Headers.xml
/Mvc-VD/bin/Microsoft.Owin.Host.SystemWeb.dll
/Mvc-VD/bin/Microsoft.Owin.Host.SystemWeb.xml
/Mvc-VD/bin/Microsoft.Owin.Security.dll
/Mvc-VD/bin/Microsoft.Owin.Security.xml
/Mvc-VD/bin/Microsoft.Owin.dll
/Mvc-VD/bin/Microsoft.Owin.xml
/Mvc-VD/bin/Microsoft.Web.Helpers.dll
/Mvc-VD/bin/Microsoft.Web.Infrastructure.dll
/Mvc-VD/bin/Microsoft.Web.WebPages.OAuth.dll
/Mvc-VD/bin/Microsoft.Web.WebPages.OAuth.xml
/Mvc-VD/bin/Mono.Math.dll
/Mvc-VD/bin/Mono.Math.xml
/Mvc-VD/bin/Mvc-VD.dll
/Mvc-VD/bin/Mvc-VD.dll.config
/Mvc-VD/bin/Mvc-VD.pdb
/Mvc-VD/bin/MySql.Data.Entity.EF6.dll
/Mvc-VD/bin/MySql.Data.Entity.EF6.xml
/Mvc-VD/bin/MySql.Data.EntityFramework.dll
/Mvc-VD/bin/MySql.Data.EntityFramework.xml
/Mvc-VD/bin/MySql.Data.dll
/Mvc-VD/bin/MySql.Data.xml
/Mvc-VD/bin/Newtonsoft.Json.dll
/Mvc-VD/bin/Ninject.dll
/Mvc-VD/bin/Ninject.xml
/Mvc-VD/bin/Org.Mentalis.Security.Cryptography.dll
/Mvc-VD/bin/Org.Mentalis.Security.Cryptography.xml
/Mvc-VD/bin/Owin.dll
/Mvc-VD/bin/PagedList.dll
/Mvc-VD/bin/PagedList.xml
/Mvc-VD/bin/Renci.SshNet.dll
/Mvc-VD/bin/Renci.SshNet.xml
/Mvc-VD/bin/System.Buffers.dll
/Mvc-VD/bin/System.Buffers.xml
/Mvc-VD/bin/System.ComponentModel.Annotations.dll
/Mvc-VD/bin/System.Data.SqlClient.dll
/Mvc-VD/bin/System.Data.SqlClient.xml
/Mvc-VD/bin/System.Diagnostics.DiagnosticSource.dll
/Mvc-VD/bin/System.Diagnostics.DiagnosticSource.xml
/Mvc-VD/bin/System.IdentityModel.Tokens.Jwt.dll
/Mvc-VD/bin/System.IdentityModel.Tokens.Jwt.xml
/Mvc-VD/bin/System.Memory.dll
/Mvc-VD/bin/System.Memory.xml
/Mvc-VD/bin/System.Net.Http.Formatting.dll
/Mvc-VD/bin/System.Net.Http.Formatting.xml
/Mvc-VD/bin/System.Numerics.Vectors.dll
/Mvc-VD/bin/System.Numerics.Vectors.xml
/Mvc-VD/bin/System.Runtime.CompilerServices.Unsafe.dll
/Mvc-VD/bin/System.Runtime.CompilerServices.Unsafe.xml
/Mvc-VD/bin/System.Text.Encodings.Web.dll
/Mvc-VD/bin/System.Text.Encodings.Web.xml
/Mvc-VD/bin/System.Threading.Tasks.Extensions.dll
/Mvc-VD/bin/System.Threading.Tasks.Extensions.xml
/Mvc-VD/bin/System.ValueTuple.dll
/Mvc-VD/bin/System.ValueTuple.xml
/Mvc-VD/bin/System.Web.Helpers.dll
/Mvc-VD/bin/System.Web.Helpers.xml
/Mvc-VD/bin/System.Web.Http.WebHost.dll
/Mvc-VD/bin/System.Web.Http.WebHost.xml
/Mvc-VD/bin/System.Web.Http.dll
/Mvc-VD/bin/System.Web.Http.xml
/Mvc-VD/bin/System.Web.Mvc.dll
/Mvc-VD/bin/System.Web.Mvc.xml
/Mvc-VD/bin/System.Web.Optimization.dll
/Mvc-VD/bin/System.Web.Razor.dll
/Mvc-VD/bin/System.Web.Razor.xml
/Mvc-VD/bin/System.Web.WebPages.Deployment.dll
/Mvc-VD/bin/System.Web.WebPages.Deployment.xml
/Mvc-VD/bin/System.Web.WebPages.Razor.dll
/Mvc-VD/bin/System.Web.WebPages.Razor.xml
/Mvc-VD/bin/System.Web.WebPages.dll
/Mvc-VD/bin/System.Web.WebPages.xml
/Mvc-VD/bin/Ubiety.Dns.Core.dll
/Mvc-VD/bin/WebGrease.dll
/Mvc-VD/bin/WebMatrix.Data.dll
/Mvc-VD/bin/WebMatrix.Data.xml
/Mvc-VD/bin/WebMatrix.WebData.dll
/Mvc-VD/bin/WebMatrix.WebData.xml
/Mvc-VD/bin/Zstandard.Net.dll
/Mvc-VD/bin/log4net.dll
/Mvc-VD/bin/log4net.xml
/Mvc-VD/bin/vi/Mvc-VD.resources.dll
/Mvc-VD/obj/Debug/*.dll
/Mvc-VD/obj/Debug/*.pdb
/Mvc-VD/obj/Debug/vi/*.dll
obj
.vs
.xml
packages
bin
PublishProfiles
/Mvc-VD/*.user
